<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="./css/ChitietSP.css">
	<link href="~/css/layout3.css" rel="stylesheet" />
</head>

<body>
    <header id="header-layout2">
        <a asp-action="Index" asp-controller="Home">
			<img src="~/icon/arrow-left-solid.svg" alt="" id="history-back" >
		</a>
        <h3>Chi tiết sản phẩm</h3>
    </header>
   @RenderBody();


    <footer id="footer" style="background-color:#161616">
        <!-- code footer -->
        <div class="box">
            <div class="logo">
                <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/385522079_896830952054695_966310219142533681_n.jpg?stp=dst-jpg_s206x206&_nc_cat=108&ccb=1-7&_nc_sid=510075&_nc_ohc=gmSvdwdIfqcAX_BlLyg&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTVu_5kBaPE86pL3EO_7XyIoNZ-HuLW_Q-fEkXZPLv5og&oe=659A3E0B" 
                style="height:190px"
                />
                <p>
                    Cảm ơn các bạn đã đồng hành cùng chúng tôi<br>
                    Chúng tôi ccam kết sẽ đem đến cho các bạn những trải nghiệm tốt nhất
                </p>
            </div>

        </div>
        <div class="box">
            <h3>
                Địa chỉ
            </h3>
            <ul class="quick-menu">
                <div class="item">
                    <p> Số 20 Nam Kì Khỏi Nghĩa, Mỹ Tho_Tiền Giang</p>
                    <p> Số 62 Hùng Vương, Mỹ Tho_Tiền GIang</p>
                    <p> Số 26 Trần Hưng Đạo, TP.Bến Tre</p>
                </div>
            </ul>
        </div>

        <div class="box">
            <h3>Liên hệ</h3>
            Điên thoại<br>
            0999999999
            <br>


        </div>
    </footer>

    <script src="./js/ChitietSP.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>