@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LayoutNull.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./site.js">
    <link href="~/css/user.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <form method="post">
            <h3>Đăng nhập</h3>
            <div class="form">
                <input type="text" asp-for="Input.Email" autocomplete="username" aria-required="true">
                <label for="">Emai</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form">
                <input type="password" asp-for="Input.Password" autocomplete="current-password" aria-required="true">
                <label for="">Mật khẩu </label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="button">
                <input type="submit" value="Đăng nhập" id="btn-login">
            </div>
            <a asp-area="Identity" asp-page="Register">đăng kí</a>
        </form>

        <script src="./site.js"></script>
    </div>
    <script src="~/js/user.js"></script>
</body>

</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
