.chuyentrang {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 0 5px;
    line-height: 27px;
    background-color: #1b338c;
}
.tranghientai {
    display: block;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid;
    height: 30px;
    margin: 0 5px;
}
